.auth-box {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /* ADDED to vertically stack items */
    align-items: center;
}

.auth-box input{
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;

}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
  background-color: #ffffff; /* optional: white background */
}

.auth-box button{
    width: 300px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f52811;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.toggle-text {
    margin-top: 15px;
    color: blue;
    cursor: pointer;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: auto;
    z-index: 10;
}