html, body, #root {
  height: 100%;
  margin: 0;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* Layout and Background */
.auth-layout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  background-image: radial-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 20px;
  gap: 2rem;
}

/* Left Side: White Logo */
.auth-graphic {
  flex: 0 0 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.auth-graphic, .auth-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-logo-white {
  width: 280px;
  max-width: 100%;
  height: auto;
  margin-left: -2in;
}

/* Right Side: Auth Form Box */
.auth-box {
  flex: 0 0 45%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 2px solid #ddd;
  border-radius: 8px;
}

/* Form Fields & Buttons */
.auth-box input,
.auth-box button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.auth-box button {
  background: #f2443a;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background 0.2s ease, transform 0.2s ease;
}
.auth-box button:hover {
  background: #fff;
  color: #f2443a;
  border-color: #f2443a;
  transform: scale(1.03);
}
.toggle-text {
  margin-top: 10px;
  color: #f2443a;
  font-weight: bold;
  cursor: pointer;
}
.toggle-text:hover {
  text-decoration: underline;
}
