.wanna-eat-page{
padding: 0 0 2rem;
}

.wanna-eat-content{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Fredoka", sans-serif;

    
}

.add-restaurant-button {
     background-color: #fff8f8;

    border-color: #f2443a;
border: 2px dashed #f2443a;
  border-radius: 15px;
  padding: 1.5rem;
  width: 90%;
  max-width: 150px;
  height: 150px;
  margin-bottom: 2rem auto;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-family: "Fredoka", sans-serif;
  position: relative;
  font-weight:lighter;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
    margin-top: 1rem;
}


.add-restaurant-button:hover {
    background: white;
    color: #f2443a;
    border-color: #f2443a;
    border-radius: 15px;
    transform: scale(1.03);
}


.restaurant-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.mini-card{
    background-color: #fff3f2;
    border-left: 5px solid #f2443a;
    padding: 1rem;
    border-radius: 5px;
}

.remove-button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #ffd6d6;
  border: none;
  border-radius: 5px;
  color: #c00;
  font-weight: bold;
  cursor: pointer;
  font-family: "Fredoka", sans-serif;
}

.remove-button:hover{
    transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}